/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font-family: sans-serif;
	font-size: 14px;
}

/* ---------------------------------------- */
.celek{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	
}
.slecna{
	border: 1px solid rgb(160, 192, 207);
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	width: 265px;
	height: 275px;
	justify-content: space-between;
}
img{
	border-radius: 50%;
	max-width: 100%;
}

@media(min-width:540px){
	.celek{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
	.nadpis{
		width: 100%;
	}
	.slecna{
		display: flex;
		flex-direction: row;
		flex-basis: 45%;
		width: auto;
		height: auto;

	}
	img{

	}
	p{
		flex: 1 1 45%;
		
	}
	h2{
		flex: 1 1 42%;
	}
}